<div>
	<h1>Welcome to The Board Room, guys</h1>
	<h5 style="text-align:center;">I know it's quite <%= (current_user && current_user.admin?) ? "shite" : "minimalist" %> but it's still a ways to go</h5>
</div>

<div style="margin-top:40px;">
	<p>This is for you, <%= (current_user && current_user.admin?) ? "fuckers" : "lads" %></p>
	<p id="guys">Ballo, Cyrus, Maltby, Morlandinho<span id="felix">, and finally Felix</span></p>

	<p>Now that I'm writing this, I feel like we could have scores up on here. Perhaps an almost Banham-esque stats corner.... No, that would be stupid</p>

	<p>Anyhoo, today's games will include:</p>
	<ul style="list-style-type:none;">
		<li>Dobble</li>
		<li>Hanabi (maybe)</li>
		<li>Someone getting annoyed at the game Gods conspiring against him (my vote goes to Cyrus)</li>
		<li>And <%= "motherfucking " if (current_user && current_user.admin?) %><a target="_blank" href="http://www.cardsagainsthumanity.com">Cards Against Humanity</a>!</li>
	</ul>
</div>