<% provide(:title, @user.name) %>

<div class="row">

	<aside class="col-md-4">
		<%= render 'users/user_sidebar' %>
	</aside>

	<div class="col-md-7 col-md-offset-1">
		<%= render 'users/display' %>
	</div>
</div>
